python3/

design/ 

labelImg/

models/ 
models_patched/
pretrained_model/

exported_model/ 
exported_model_new/ 
exported_model_lr/ 

training/
training_ø/
training_lr/
training_backup/

# TensorBoard logs
events.out.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.swp
*.py[cod]
*.so

# Environment folders
tfod-env/
tf-metal-py39-env/
.python-version

# Virtual environment files
env/
venv/
ENV/
env.bak/

# TensorFlow saved/exported models and checkpoints
pretrained_model/
exported_model*/
training_*/
training_backup/
*.pb
*.ckpt*
*.tflite
code/auto/saved_model/
code/auto/saved_model_new/
code/auto/*.h5

# TF record files and label maps
*.record
*.pbtxt

# Dataset (unless small sample is added manually)
dataset/

# Testing video
*.MOV

# macOS system files
.DS_Store

# Logs and cache
*.log
*.tmp
logs/
.cache/

# Jupyter/IPython
.ipynb_checkpoints/
