python3/
labelImg/
pretrained_model/
dataset/ 
exported_model/ 
design/ 
models/ 
models_patched/ 
training/
training_backup/

# Huge files
*.record
*.pbtxt
*.DS_Store

# TensorBoard logs
events.out.*

# Cache, build, and temporary files
__pycache__/
*.pyc
*.pyo
*.swp
